body
{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container
{
    height: 200px;
    width: 300px;
    background-color: white;
}
#stopwatch
{
    height: 60px;
    width: 280px;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: beige;
    color: darkslategrey;
}

#buttonset
{
    display: flex;
    justify-content: space-around;
}
button
{
    border: 0px;
    font-size: 20px;
}
#start
{
    background-color: slateblue;
}
#stop
{
    background-color: cornflowerblue;
}
#reset
{
    background-color: chocolate;
}